.mdui-theme-primary-teal .mdui-tab .mdui-tab-active {
    color:white;
}
.mdui-tab a{
    color: white;
}
.top-tab{
    height: 100%;
   
}
/* #container{
    margin-top: 67px;
} */

.row{
    margin-top: 10px;
}
.mdui-card-header-title,.mdui-card-header-subtitle{
    margin-left: 0;
}

.mdui-card-media{
    padding-top: 10px;
}

.timeline-event a{
    font-size: 20px;
}

.timeline-series dd h3{
    color: black;
    font-size: 18px;
} 
.timeline-wrapper h2{
    font-size: 30px;
}